body{
	background: #EE82EE;
}
h1{
	background: #FFA500;
	color:#ffff;
	text-align: center;
}
h2{
	background: #3CB371;
	color: #4B0082;
	text-align: center;
	font-size: 50px;
}
.list ol ul{list-style: square;

}

.tag p {
	background: #D2691E;
	border: double 10px #8A2BE2;
	font-size: 30px;
	text-align: center;
}
.tag h1 {
	background: #D2691E;
	border: double 10px #8A2BE2;
	font-size: 35px;
	text-align: center;
}
.tag h2 {
	background: #D2691E;
	border: double 10px #8A2BE2;
	font-size: 35px;
	text-align: center;
}
.tag button {
	width: 137px;
	height: 48px;
	background: #9932CC;
	color: #fff;
	font-size: 18px;
}
.table{
	
}
.table tr th{
	border: 2px solid black;
	background: #DAA520;
}
.table tr td{
	border: 2px solid black;
	background: #DAA520;
}
#web{
	list-style: disc;
}
#graphic{
	list-style: circle;
}
.footer h1{
	background: #90EE90;
	font-size: 40px;
	color: #FF00FF;
}
